@{
    ViewBag.Title = "UI_3";
}

<link href="~/Content/fullcalendar/fullcalendar.min.css" rel="stylesheet" />
<div class="form">
    <div class="form-group">
        <div class="input-group">
            <label class="col-sm-2 control-label">Location</label>
            <select class="form-control">
                <option>CEO</option>
                <option>Worthing</option>
                <option>Kent</option>
                <option>Leicester</option>
            </select>
        </div>
    </div>
    <div class="form-group" id="calendarContainer">
        <div id="calendar"></div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">New Meeting</h4>
                </div>
                <div class="modal-body">
                    <div class="form">
                        <div class="form-group">
                            <div class="input-group ">
                                <label class="control-label">Date</label>
                                <input id="newDate" class="form-control" readonly />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group ">
                                <label class="control-label">Number of attendees</label>
                                <input type="number" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group ">
                                <label class="control-label">Smart room</label>
                                <input type="checkbox" class="form-control" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" data-toggle="modal" data-target="#resultModal" class="btn btn-primary">Search</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="resultModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Select Room</h4>
                </div>
                <div class="modal-body">
                    <div class="form">
                        <div class="form-group">
                            <div class="input-group ">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>Time</th>
                                            <th>MR1 <span class="glyphicon glyphicon-info-sign" title="1 Computer, 1 Phone"></span></th>
                                            <th>MR2 <span class="glyphicon glyphicon-info-sign" title="4 Computer, 2 Phone"></span></th>
                                            <th>MR3 <span class="glyphicon glyphicon-info-sign" title="0 Computer, 0 Phone"></span></th>
                                            <th>MR4 <span class="glyphicon glyphicon-info-sign" title="1 Computer, 1 Phone"></span></th>
                                            <th>MR5 <span class="glyphicon glyphicon-info-sign" title="2 Computer, 1 Phone"></span></th>
                                            <th>MR6 <span class="glyphicon glyphicon-info-sign" title="3 Computer, 1 Phone"></span></th>
                                            <th>MR7 <span class="glyphicon glyphicon-info-sign" title="10 Computer, 3 Phone"></span></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>08-09</td>
                                            <td></td>
                                            <td>Reece</td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td>Charlie</td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>09-10</td>
                                            <td></td>
                                            <td></td>
                                            <td>Mthoko</td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td>Ben</td>
                                        </tr>
                                        <tr>
                                            <td>11-12</td>
                                            <td>Reece</td>
                                            <td></td>
                                            <td></td>
                                            <td>Yomi</td>
                                            <td></td>
                                            <td></td>
                                            <td>Ben</td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>12-13</td>
                                            <td>Reece</td>
                                            <td></td>
                                            <td></td>
                                            <td>Ben</td>
                                            <td></td>
                                            <td>Charlie</td>
                                            <td>Reece</td>
                                        </tr>
                                        <tr>
                                            <td>13-14</td>
                                            <td>Yomi</td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td>Mthoko</td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>15-16</td>
                                            <td></td>
                                            <td>Charlie</td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td>Ben</td>
                                            <td>Yomi</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Search</button>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/Scripts/moment.js"></script>
    <script src="~/Scripts/FullCalandar/fullcalendar.min.js"></script>

    <script>
        $('#calendar').fullCalendar({
            weekends: false,
            header: {
                left: 'prev,next today',
                center: 'title',
                right: 'month,agendaWeek,agendaDay'
            },
            dayRender: function (event, element) {
                element.bind('dblclick', function () {
                    $('#newDate').val(event.format('DD-MM-YYYY'));
                    $('#myModal').modal('toggle');
                });
            }
        });
    </script>
}

