<!--Address Book Modal (Internal Attendees)-->
<div class="modal fade" id="activeDirecotryModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Add User</h4>
            </div>
            <div class="modal-body">
                <div class="panel panel-border-wide vertical-bottom-space-large">
                    <p>Please select a user</p>
                </div>
                <label>Surname:</label>
                <input id="surnameTextBox" ng-model="emailVal" ng-change="GetAdNames()" class="form-control" />
                <!--TODO-->
                <hr />
                <div class="userInfo">
                    <table id="activeDirectoryTable" class="table table-hover userInfoTable">
                        <thead>
                            <tr>
                                <th>First Name</th>
                                <th>Surname</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="adAdmin in adAdminUsers" ng-click="AddAdEmail(adAdmin)" style="cursor: pointer;">
                                <td>{{ adAdmin.firstName }}</td>
                                <td>{{ adAdmin.lastName }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="button button-secondary" data-dismiss="modal">Close</button>
                @*<button type="button" class="btn btn-primary">Confirm</button>*@
            </div>
        </div>
    </div>
</div>

<script>
    $('#activeDirecotryModal').on('shown.bs.modal', function () {
        $('#surnameTextBox').focus();
    })

    $('#activeDirecotryModal').on('hidden.bs.modal', function () {
        $('#surnameTextBox').val('');
    })
</script>
