<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title" id="myModalLabel">Confirm Edit Booking</h4>
</div>
<div class="modal-body">
    <p>You meeting room has changed to <b>{{currentRoom.roomNameFormatted()}}</b> please confirm that you are happy with this selection ?</p>

    <table>
        <tr>
            <td><span class="glyphicon glyphicon-user badge" title="Seat Count"> {{currentRoom.seatCount}}</span> Max Attendees</td>
        </tr>
        <tr>
            <td><span class="glyphicon glyphicon-hdd badge" title="PCs"> {{currentRoom.computerCount}}</span> PCs</td>
        </tr>
        <tr>
            <td><span class="glyphicon glyphicon-earphone badge" title="Telephones"> {{currentRoom.phoneCount}}</span> Telephones</td>
        </tr>
        <tr>
            <td><span class="glyphicon glyphicon-facetime-video badge" title="Is SMART room"> </span> {{ currentRoom.smartRoomFormatted() }}</td>
        </tr>
    </table>

    <div id="alternateRoomsCont" style="display:none;">
        <hr />

        <p>Alternatively, please select a meeting room from the dropdown:</p>

        <select class="form-control" ng-options="room.roomNameFormatted() for room in availableRooms | orderBy: 'room.roomName'" ng-model="currentRoom"></select>
    </div>
</div>
<div class="modal-footer">
    <button class="button button-secondary" onclick="SetEditActiveTab('editBooking')">Back</button>
    <button id="confirmBookingConfirmButton" type="button" class="button" ng-click="EditBooking()">Confirm</button>
</div>
