<!--Edit Booking Confirmation Screen-->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <ul id="editBookingTabs" class="nav nav-tabs" hidden="hidden">
                <li><a href="#editBooking" data-toggle="tab">Edit</a></li>
                <li><a href="#confirmEditBooking" data-toggle="tab">Edit Confirm</a></li>
            </ul>

            <div id="my-edittab-content" class="tab-content">
                <div class="tab-pane active" id="editBooking">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Edit Booking</h4>
                        <h4>Room {{newBooking.Room.RoomName}}, {{ editBooking.location.name }} on {{ editBooking.start.date }}</h4>
                    </div>
                    <div class="modal-body">
                        <form role="form">
                            <div class="alert alert-danger" id="bookingModalErrorMessage" style="display: none;"></div>
                            <div class="form-inline" row>
                                <div class="input-group col-xs-3">
                                    <label class="control-label">Date</label>
                                    <input id="bookingDate" class="form-control datepicker" ng-model="booking.date" />
                                </div>
                                <div class="input-group col-xs-3">
                                    <label class="control-label">Start</label>
                                    <input id="bookingStartTime" class="form-control timepicker" ng-model="booking.startTime" />
                                </div>
                                <div class="input-group col-xs-3">
                                    <label class="control-label">End</label>
                                    <input id="bookingEndTime" class="form-control timepicker" ng-model="booking.endTime" />
                                </div>
                                <div class="input-group col-xs-2">
                                    <label class="control-label">Attendees</label>
                                    <div>
                                        <input type="number" id="attendees" class="form-control numberControl touchSpinControl" ng-model="booking.numberOfAttendees" ng-pattern="/^[0-9]+$/" />
                                    </div>
                                </div>
                                <div class="input-group col-xs-6">
                                    <label class="control-label">Subject</label>
                                    <input maxlength="140" class="form-control" ng-model="newBooking.Subject">
                                </div>
                            </div>
                            <div class="form-inline" row>
                                <hr />
                                <h3 class="heading-small">External Attendees</h3>
                                <div id="externalAttendeesCont">
                                    <div class="input-group col-xs-4">
                                        <label class="control-label">Full Name</label>
                                        <input class="form-control" id="externalFullNameTextBox" ng-model="externalFullNameTextBox" />
                                    </div>
                                    <div class="input-group col-xs-4">
                                        <label class="control-label">Company Name</label>
                                        <input class="form-control" id="externalCompanyNameTextBox" ng-model="externalCompanyNameTextBox" />
                                    </div>
                                    <div class="input-group col-xs-3">
                                        <label class="control-label">Pass Required</label>
                                        <input class="form-control" type="checkbox" id="externalPassRequired" ng-model="externalPassRequired" />
                                    </div>
                                    <div class="input-group col-xs-2">
                                        <label class="control-label">&nbsp;</label><br />
                                        <button type="button" class="button" ng-disabled="externalFullNameTextBox.length == 0 || externalCompanyNameTextBox.length == 0" ng-click="AddExternalAttendee()">Add</button>
                                    </div>
                                    <div ng-show="booking.externalAttendees.length > 0">
                                        <h3 class="heading-small">Attendees</h3>
                                        <table id="externalAttendeesTable">
                                            <tr>
                                                <th>Name</th>
                                                <th>Company</th>
                                                <th>Pass Required</th>
                                            </tr>
                                            <tr ng-repeat="externalName in booking.externalAttendees">
                                                <td>{{ externalName.fullName }} </td>
                                                <td>{{ externalName.companyName }}</td>
                                                <td>{{ FormatPassRequired(externalName.passRequired) }}</td>
                                                <td><span class="btn glyphicon glyphicon-remove" ng-click="RemoveExternalAttendee($index)"></span></td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                                <div class="alert alert-warning" style="display: none;" id="externalAttendeesContWarning"></div>
                            </div>
                            <div class="form-inline" row>
                                <hr />
                                <h3 class="heading-small">Additional Equipment</h3>
                                <div id="additionalEquipmentCont">
                                    <div class="input-group col-xs-4">
                                        <input type="checkbox" value="FlipChart" ng-model="newBooking.FlipChart" /> Flipchart<br />
                                        <input type="checkbox" value="Projector" ng-model="newBooking.Projector" /> Projector
                                    </div>
                                </div>
                                <div class="alert alert-warning" style="display: none;" id="additionalEquipmentContWarning">This location does not have a dedicated Local Facilities Officer. Setting up of the meeting room is the responsibility of the user.</div>
                            </div>
                            <div class="form-inline" row>
                                <div id="dssAssistChoice">
                                    <hr />
                                    <h3 class="heading-small">DSS Assist</h3>
                                    <div class="input-group col-xs-6">
                                        <input type="checkbox" value="DSSAssist" ng-model="newBooking.DSSAssist" /> Request DSS Assistance<br />
                                    </div>
                                </div>
                            </div>
                            <div style="display: block;" id="dssAssistContWarning">
                                <hr />
                                <div class="alert alert-warning">
                                    This location does not have a dedicated DSS officer, please contact ITSD for support on setting up SMART room meetings.
                                </div>
                            </div>
                            <div style="display: block;" ng-show="editBooking.recurrenceId">
                                <hr />
                                <div>
                                    <h3>Edit all bookings in this recurrence <input type="checkbox" ng-model="newBooking.recurrence" /></h3>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="button button-secondary" data-dismiss="modal">Cancel</button>
                        <button id="acceptBookingConfirmButton" type="button" ng-click="CheckEditBooking()" class="button">Accept Changes</button>
                    </div>
                </div>
                <div class="tab-pane" id="confirmEditBooking">
                    @Html.Partial("Modals/ConfirmEditBookingModal")
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(function () {
        $('.touchSpinControl').TouchSpin({
            verticalbuttons: true,
            min: 1,
            initval: 1
        });
    })
</script>