<!--Edit Booking Confirmation Screen-->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <ul id="editBookingTabs" class="nav nav-tabs" hidden="hidden">
                <li><a href="#editBooking" data-toggle="tab">Edit</a></li>
                <li><a href="#confirmEditBooking" data-toggle="tab">Edit Confirm</a></li>
            </ul>

            <div id="my-edittab-content" class="tab-content">
                <div class="tab-pane active" id="editBooking">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Edit Booking</h4>
                        <h4>Room {{newBooking.Room.RoomName}}, {{ editBooking.location.name }} on {{ editBooking.startDate | date:'dd/MM/yyyy' }}</h4>
                    </div>
                    <div class="modal-body">
                        <form role="form">
                            <div class="alert alert-danger" id="bookingModalErrorMessage" style="display: none;"></div>
                            <div class="form-group row">
                                <div class="col-xs-3">
                                    <label class="control-label">Date</label>
                                    <input id="bookingDate" class="form-control datepicker" ng-model="booking.date" />
                                </div>
                                <div class="col-xs-3">
                                    <label class="control-label">Start</label>
                                    <input id="bookingStartTime" class="form-control timepicker" ng-model="booking.startTime" />
                                </div>
                                <div class="col-xs-3">
                                    <label class="control-label">End</label>
                                    <input id="bookingEndTime" class="form-control timepicker" ng-model="booking.endTime" />
                                </div>
                                <div class="col-xs-3">
                                    <label class="control-label">Attendees</label>
                                    <input type="number" id="attendees" class="form-control numberControl touchSpinControl" ng-model="bookingFilter.numberOfAttendees" ng-pattern="/^[0-9]+$/" />
                                </div>
                                <div class="col-xs-6">
                                    <label class="control-label">Subject</label>
                                    <input maxlength="140" class="form-control" ng-model="newBooking.Subject">
                                </div>
                            </div>
                            <hr />
                            <p><label class="control-label">External Attendees</label></p>
                            <div class="form-group row">

                                <div class="col-xs-5">
                                    <label>First Name</label>
                                    <input class="form-control" id="externalFirstNameTextBox" />
                                </div>
                                <div class="col-xs-5">
                                    <label>Last Name</label>
                                    <input class="form-control" id="externalLastNameTextBox" />
                                </div>
                                <div class="col-xs-2">
                                    <label>&nbsp;</label>
                                    <input id="addExternal" type="button" class="form-control btn-primary btn-sm" ng-click="AddExternalAttendee()" value="Add" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-xs-5">
                                    <label>
                                        Attendees
                                    </label>
                                    <table>
                                        <tr ng-repeat="externalName in booking.ExternalNames">
                                            <td>{{ externalName }}</td>
                                            <td><span class="btn glyphicon glyphicon-remove" ng-click="RemoveExternalAttendee(externalName)"></span></td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                            <hr />
                            <div class="form-group row">
                                <div class="col-xs-5">
                                    <label class="control-label">Additional Equipment</label><br />
                                    <input type="checkbox" value="FlipChart" ng-model="newBooking.FlipChart" /> Flipchart<br />
                                    <input type="checkbox" value="Projector" ng-model="newBooking.Projector" /> Projector
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button id="acceptBookingConfirmButton" type="button" ng-click="CheckEditBooking()" class="btn btn-primary">Accept Changes</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
                <div class="tab-pane" id="confirmEditBooking">
                    @Html.Partial("Modals/ConfirmEditBookingModal")
                </div>
            </div>
        </div>
    </div>
</div>