<div class="modal fade" id="newLocationModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Add New Location</h4>
            </div>
            <div class="modal-body">
                <div class="alert alert-danger" id="LocationModalErrorMessage" style="display: none;"></div>
                <div class="form-group newLocationInputs">
                    <div class="form-inline">
                        <div class="input-group col-xs-6">
                            <label class="control-label">Name </label>
                            <input class="form-control" ng-model="newLocation.Name" />
                        </div>
                        <br /><br />
                        <div class="form-group">
                            <label class="control-label">Active <input type="checkbox" ng-model="newLocation.Active" /></label>
                        </div>
                        <div class="input-group col-xs-18" id="locationAdditionalInfoCont">
                            <label class="control-label">Additional Information</label>
                            <textarea id="additionalInformation" class="form-control" cols="20" rows="5" ng-model="newLocation.additionalInformation"></textarea>
                        </div>
                    </div>
                </div>
                <hr />
                <div class="form-group form-inline">
                    <div class="panel-group" id="accordion">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="heading-small panel-title" data-toggle="collapse" href="#collapseOne" style="cursor: pointer">
                                    <a>Facilities</a>
                                </h4>
                            </div>
                            <div id="collapseOne" class="panel-collapse collapse in">
                                <div class="panel-body">
                                    <div class="form-group">
                                        <label class="control-label col-xs-6">Email:</label>
                                        <input class="form-control" ng-model="newLocation.LocationCredentials[0].Email" />
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-xs-6">Phone Number:</label>
                                        <input maxlength="11" class="form-control phoneNoControl" ng-model="newLocation.LocationCredentials[0].Phone" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title heading-small" data-toggle="collapse" href="#collapseTwo" style="cursor: pointer;">
                                    <a>Security</a>
                                </h4>
                            </div>
                            <div id="collapseTwo" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <div class="form-group">
                                        <label class="control-label col-xs-6">Email:</label>
                                        <input class="form-control" ng-model="newLocation.LocationCredentials[1].Email" />
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-xs-6">Phone Number:</label>
                                        <input maxlength="11" class="form-control phoneNoControl" ng-model="newLocation.LocationCredentials[1].Phone" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title heading-small" data-toggle="collapse" href="#collapseThree" style="cursor: pointer;">
                                    <a>DSS</a>
                                </h4>
                            </div>
                            <div id="collapseThree" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <div class="form-group">
                                        <label class="control-label col-xs-6">Email:</label>
                                        <input class="form-control" ng-model="newLocation.LocationCredentials[2].Email" />
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-xs-6">Phone Number:</label>
                                        <input maxlength="11" class="form-control phoneNoControl" ng-model="newLocation.LocationCredentials[2].Phone" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="button button-secondary" data-dismiss="modal">Cancel</button>
                <button id="confirmLocationBtn" type="button" class="button" ng-click="AddNewLocation()">Confirm Location</button>
            </div>
        </div>
    </div>
</div>
