@{
    ViewBag.Title = "Administration";
}

<h2>Administration</h2>
<p>This administration panel enables you administer all content in this application, including managing users, existing bookings, add/remove locations and rooms.</p>

<div id="content" ng-app="administration">

    <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
        <li class="active" id="bookingTab"><a href="#Bookings" data-toggle="tab">Bookings</a></li>
        <li id="userTab"><a href="#users" data-toggle="tab">Users</a></li>
        <li id="locationTab"><a href="#locations" data-toggle="tab">Locations</a></li>
        <li id="roomTab"><a href="#rooms" data-toggle="tab">Rooms</a></li>
    </ul>

    <div id="my-tab-content" class="tab-content">

        <div class="tab-pane active" id="Bookings">
            @Html.Partial("BookingTab")

        </div>

        <div class="tab-pane" id="users">
            @Html.Partial("UserTab")
        </div>

        <div class="tab-pane" id="locations">
            <p>Manage locations.</p>
        </div>

        <div class="tab-pane" id="rooms">
            <p>Manage rooms.</p>
        </div>

    </div>
</div>

@section scripts{
    <script src="~/Scripts/moment.js"></script>
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/angular-resource.min.js"></script>

    <script src="~/Scripts/Administration/moduleManager.js"></script>

    <script src="~/Scripts/Administration/usersController.js"></script>
    <script src="~/Scripts/Administration/roomsController.js"></script>
    <script src="~/Scripts/Administration/bookingsController.js"></script>

    <script src="~/Scripts/Shared Functions/bookingFunctions.js"></script>

    <script src="~/Scripts/BootStrapTimePicker/bootstrap-timepicker.min.js"></script>
    <script src="~/Scripts/BootStrapDatePicker/bootstrap-datepicker.js"></script>

    <script>
        $(function () {
            $('.datepicker').datepicker({
                startDate: '-0m',
                format: 'dd-mm-yyyy',
                autoClose: true,
                todayBtn: true,
                todayBtn: 'linked',
                todayHighlight: true,
                weekStart: 1
            });

            $('.timepicker').timepicker({
                showInputs: false,
                minuteStep: 30,
                showMeridian: false,
            });
        });

        document.getElementById('attendessControl').onkeydown = function (e) {
            var key = e.keyCode ? e.keyCode : e.which;
            if (isNaN(String.fromCharCode(key))) return false;
        };

        jQuery(document).ready(function ($) {
            $('#tabs').tab();
        });
    </script>
}