<div id="controllerDiv" ng-controller="LocationsController">

    <h4>Location Management</h4>
    <hr />

    <div class="form-inline" id="locationFilterOptions">
        <label class="control-label">Filter By:</label>
        <select class="form-control" ng-model="selectedItem.type" ng-change="GetLocationsByStatus()" ng-options="status.value as status.name for status in locationStatuses"></select>
        <button data-toggle="modal" data-target="#newLocationModal" class="btn btn-default">Add Location</button>
    </div>

    <div id="adminLocationsTable">
        <table class="table table-striped userInfoTable">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>No. of Rooms</th>
                    <th>Status</th>
                    <th>&nbsp;</th>
                    <th>&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="location in Locations">
                    <td>{{ location.name }}</td>
                    <td>{{ location.rooms.length }}</td>
                    <td ng-show="{{location.active}}"><span class="glyphicon glyphicon-ok-circle locationIcons activeIcons" title="Active Location"></span></td>
                    <td ng-show="{{ location.active != true }}"><span class="glyphicon glyphicon-remove-circle locationIcons inactiveIcons" title="Inactive Location"></span></td>
                    <td><span data-toggle="modal" data-target="#editLocationModal" class="btn glyphicon glyphicon-edit locationIcons" title="Edit Location"></span></td>
                    <td><span data-toggle="modal" data-target="#deleteLocationModal" class="btn glyphicon glyphicon-trash locationIcons" title="Disable Location"></span></td>
                </tr>
            </tbody>
        </table>
    </div>
    @Html.Partial("Modals/NewLocationModal")
</div>
