body {
    padding-top: 100px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#logo_text{
    width: 400px;
}

#timepicker2 {
    z-index:2050 !important;
}

#logo_text #logoBanner{
    background-color: #008770;
    width: 5px;
    height: 55px;
    float: left;
}

#logo_text h1, #logo_text h1 a, #logo_text h1 a:hover {
    padding: 0 0 0 0;
    color: #FFF;
    letter-spacing: 0.1em;
    text-decoration: none;
    font-size: 25px;
}

.navbar-nav{  
    margin-top: 15px;
}

.navbar-nav li{
    text-align: center;
    width: 170px;
    border: 1px;
    border-style: solid;
    border-color:  #008770;
}

#calendarContainer{
    margin-top: 20px;
}

#calendar{
    width: 800px;
}

.locationIcons {
    margin:5px;
}

#bookingTable{
    width: 1051px;
    height:550px;
    overflow-x: auto;
    overflow-y:hidden;
    white-space:nowrap;
}

#myBookingsTable {
    margin-top:25px;
}

.dailyCalendarContainer {
    height:590px;
    width: 150px;
    display:inline-block;
}

/*#attendeesInputFilter {
    margin-right:-30px;
}*/

#searchButton {
    margin-left:30px;
    margin-top:10px;
}

/*ADDED 15/05/2015 CL*/
.navbar-inverse .navbar-nav > li > a {
  color: #ffffff !important;
  font-weight:bold !important;
}

/*ADDED 15/05/2015 CL*/
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
  text-decoration: underline !important;
  background-color: transparent !important;
}

/*ADDED 15/05/2015 CL*/
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  color: #1d8feb !important;
  font-weight: bold !important;
  background-color: #080808 !important;
}

#attendeesBadgeIcon {
    margin: 0px 10px 5px 19px;
}

#smartroomBadgeIcon {
    vertical-align:middle;
    margin-bottom:3px;
}

#pcBadgeIcon { 
    float:left;
    margin-left:34px;
}

#phoneBadgeIcon {
    float:left;
}

#roomDetailsBox {
    height:45px;
}

#adminLocationsTable {
    margin-top: 40px;
}

#adminLocationsTable td {
    vertical-align:middle;
}

#adminLocationsTable td span {
    padding:0px;
    margin-top:-3px;
}

#locationFilterOptions {
    margin-left:5px;
}

#locationFilterOptions button {
    margin-left: 30px;
}

#locationFilterOptions select {
    margin-left: 10px;
    width:200px;
}

.userInfoTable {
    margin-top:-15px;    
    width:100%;
    border-spacing:0;
}

.userInfoTable tbody, .userInfoTable thead, .userInfoTable tr, 
.userInfoTable th, .userInfoTable td { 
    display: block; 
}

.userInfoTable thead tr {
    /* fallback */
    width: 97%;
    /* minus scroll bar width */
    width: -webkit-calc(100% - 16px);
    width:    -moz-calc(100% - 16px);
    width:         calc(100% - 16px);
}

.userInfoTable tr:after {  /* clearing float */
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
}

.userInfoTable tbody {
    overflow-y:auto;
    height:500px;    
}

.userInfoTable th, .userInfoTable tbody td { 
    width:49%;
    float:left;
}

#myBookingsTable .userInfoTable th, #myBookingsTable .userInfoTable tbody td { 
    width:14%;
    float:left;
}

#adminLocationsTable .userInfoTable th, #adminLocationsTable .userInfoTable tbody td {
    width:20%;
    float:left;
}

.userInfoTable tbody tr:first-child td {
    border:none;
}

#subjectInfo {
    max-width:120px;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
}

#myTab .tab-content {
    margin-top:20px;
}

#viewAllButton {
    margin-left: 70%;
}

.input-group.bootstrap-touchspin {
    width:250px;
    float:left;
    margin-top:40px;
}

#attendeesInputFilter label {
    margin-top: 10px;
    margin-left:-235px;
}

.bootstrap-timepicker-widget{
    z-index: 99999;
}


/* TYPEAHEAD DROPDOWN ACTIVE */

.tt-query, /* UPDATE: newer versions use tt-input instead of tt-query */
.tt-hint {
    width: 100px;
    height: 30px;
    padding: 8px 12px;
    font-size: inherit;
    line-height: normal;
    border: 2px solid #ccc;
    border-radius: 8px;
    outline: none;
}

.tt-query { /* UPDATE: newer versions use tt-input instead of tt-query */
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
    color: #999;
}

.tt-menu { /* UPDATE: newer versions use tt-menu instead of tt-dropdown-menu */
    width: 180px;
    margin-top: 12px;
    padding: 8px 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-menu a:hover {
    background-color:#FF77FF;
}

.tt-suggestion {
    padding: 3px 20px;
    font-size: inherit;
    line-height: 24px;
    width: auto;
}

.tt-suggestion.tt-cursor { /* UPDATE: newer versions use .tt-suggestion.tt-cursor */
    color: #fff;
    background-color: #0097cf;
}

.tt-suggestion.tt-cursor a {
    color: #fff;
}

.tt-suggestion p {
    margin: 0;
}

.newLocationInputs label {
    margin-right:2px;
}

.newLocationInputs .form-inline div:nth-child(2) {
    margin-left:35px;
}

#accordion .panel.panel-default {
    margin:5px;
}

/*#accordion .panel-body input{
    width:180px;
}*/

#accordion .form-inline div:nth-child(even) {
    margin-left:5px;    
}

#newLocationModal input[type=checkbox]
{
    margin-left:5px;
  /* Double-sized Checkboxes */
  -ms-transform: scale(2); /* IE */
  -moz-transform: scale(2); /* FF */
  -webkit-transform: scale(2); /* Safari and Chrome */
  -o-transform: scale(2); /* Opera */
  padding: 10px;
}

.dailyCalendar tbody{
    cursor: pointer;
}

#activeDirectoryTable tbody{
    cursor: pointer;
}

#onBehlafOfTextBox{
    cursor: pointer;
}


.loadingContainer{
    margin-left: auto;
    margin-right: auto;
    width: 30px;
}