body {
    padding-top: 100px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#logo_text{
    width: 400px;
}

#logo_text #logoBanner{
    background-color: #008770;
    width: 5px;
    height: 55px;
    float: left;
}

#logo_text h1, #logo_text h1 a, #logo_text h1 a:hover {
    padding: 0 0 0 0;
    color: #FFF;
    letter-spacing: 0.1em;
    text-decoration: none;
    font-size: 25px;
}

.navbar-nav{  
    margin-top: 15px;
}

.navbar-nav li{
    text-align: center;
    width: 170px;
    border: 1px;
    border-style: solid;
    border-color:  #008770;
}

#calendarContainer{
    margin-top: 20px;
}

#calendar{
    width: 800px;
}

#bookingTable{
    width: 1051px;
    height:550px;
    overflow-x: auto;
    overflow-y:hidden;
    white-space:nowrap;
}

.dailyCalendarContainer {
    height:590px;
    width: 150px;
    display:inline-block;
}

#attendeesInputFilter {
    margin-right:-30px;
}

#searchButton {
    margin-right:50px;
    margin-top:20px;
}

/*ADDED 15/05/2015 CL*/
.navbar-inverse .navbar-nav > li > a {
  color: #ffffff !important;
  font-weight:bold !important;
}

/*ADDED 15/05/2015 CL*/
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
  text-decoration: underline !important;
  background-color: transparent !important;
}

/*ADDED 15/05/2015 CL*/
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  color: #1d8feb !important;
  font-weight: bold !important;
  background-color: #080808 !important;
}

#attendeesBadgeIcon {
    margin: 0px 14px 5px 15px;
}

#pcBadgeIcon { 
    float:left;
    margin-left:34px;
}

#phoneBadgeIcon {
    float:left;
}

#roomDetailsBox {
    height:45px;
}

#userInfoTable {
    margin-top:-15px;    
    width:100%;
    border-spacing:0;
}

#userInfoTable tbody, #userInfoTable thead, #userInfoTable tr, 
#userInfoTable th, #userInfoTable td { 
    display: block; 
}

#userInfoTable thead tr {
    /* fallback */
    width: 97%;
    /* minus scroll bar width */
    width: -webkit-calc(100% - 16px);
    width:    -moz-calc(100% - 16px);
    width:         calc(100% - 16px);
}

#userInfoTable tr:after {  /* clearing float */
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
}

#userInfoTable tbody {
    overflow-y:auto;
    height:500px;    
}

#userInfoTable th, #userInfoTable tbody td { 
    width:49%;
    float:left;
}

#subjectInfo {
    max-width:120px;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
}







