body {
    padding-top: 100px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#logo_text{
    width: 400px;
}

#logo_text #logoBanner{
    background-color: #008770;
    width: 5px;
    height: 55px;
    float: left;
}

#logo_text h1, #logo_text h1 a, #logo_text h1 a:hover {
    padding: 0 0 0 0;
    color: #FFF;
    letter-spacing: 0.1em;
    text-decoration: none;
    font-size: 25px;
}

.navbar-nav{  
    margin-top: 15px;
}

.navbar-nav li{
    text-align: center;
    width: 170px;
    border: 1px;
    border-style: solid;
    border-color:  #008770;
}