@{
    ViewBag.Title = "New Booking";
}
<div ng-app="newBooking">
    <div id="controllerDiv" ng-controller="NewBookingController">

        <link href="~/Content/BootStrapTimePicker/bootstrap-timepicker.css" rel="stylesheet" />
        <link href="~/Content/BootStrapDatePicker/datepicker.css" rel="stylesheet" />
        <link href="~/Content/fullcalendar/fullcalendar.min.css" rel="stylesheet" />
        <link href="~/Content/Site.css" rel="stylesheet" />

        <link href="~/Content/jquery-uiBootstrap/jquery.bootstrap-touchspin.min.css" rel="stylesheet" />

        <h2>Book your meeting room</h2>
        <p>Use the filters provided below to check if your meeting room is available by using the required location, date, time and number of attendees required for your meeting.</p>
        <hr />
        <a href="#" id="viewAllRoomsLink" ng-click="SearchBookings(true)">View All Rooms</a>
        <form role="form" id="searchFilter">
            <div class="form-group row">
                <div class="col-xs-4" id="searchLocation">
                    <label class="col-sm-2 control-label">Location</label>
                    <select class="form-control" ng-options="location.name for location in locations" ng-model="bookingFilter.location" ng-change="SearchBookings(false)">
                        <option value="" selected disabled>Select a location...</option>
                    </select>
                </div>
                <div class="col-xs-2" id="date">
                    <label class="col-sm-2 control-label">Date</label>
                    <input id="startDatePicker" class="form-control datepicker" ng-model="bookingFilter.startDate" />
                </div>
                <div class="col-xs-2">
                    <label class="control-label">Smart Room</label>
                    <input id="smartRoomCheckBox" type="checkbox" class="form-control" ng-model="bookingFilter.smartRoom" ng-change="ShowSmartLoactions()" />
                </div>

                <div id="advancedSearch" style="display:none;">
                    <div class="col-xs-2" id="startTime">
                        <label class="control-label">Start</label>
                        <input id="startTimePicker" class="form-control timepicker" ng-model="bookingFilter.startTime" />
                    </div>
                    <div class="col-xs-2" id="endTime">
                        <label class="control-label">End</label>
                        <input id="endTimePicker" class="form-control timepicker" ng-model="bookingFilter.endTime" />
                    </div>
                    <div class="col-xs-2" id="attendeesInputFilter">
                        <label class="control-label">Attendees</label>
                        <input type="number" id="attendeesControl" class="form-control numberControl touchSpinControl" ng-model="bookingFilter.numberOfAttendees" ng-pattern="/^[0-9]+$/" />
                    </div>
                </div>

                <div class="col-xs-3">
                    <label class="control-label">&nbsp</label>
                    <input id="searchButton" type="button" class="form-control filterButton" ng-click="SearchBookings(false)" value="Search" />
                    <p><a href="#" id="toggleAdvancedSearchLink" onclick="ToggleAdvancedSearch();">Advanced Search</a></p>
                </div>

            </div>

            <div id="smartRoomLocations" style="display: none;">
                <p>
                    <div class="alert alert-info" id="smartRoomHelpText">Please select the other SMART Room Location(s) using the 'Add' button below.</div>
                </p>

                <div class="form-group row">
                    <div class="col-xs-4" id="smartLocationSelect">
                        <label class="control-label">Smart Location(s)</label>
                        <select id="smartLoactionDropDown" class="form-control" ng-options="o as o for o in smartLoactions" ng-model="currentSmartLocation" ng-change="ValidateSelection()">
                            <option value="" selected disabled>Select a location...</option>
                        </select>
                    </div>

                    <div class="col-xs-3">
                        <label class="control-label">&nbsp</label>
                        <input id="addSmartLoactionButton" type="button" class="form-control filterButton" ng-click="AddSmartLoaction()" value="Add" />
                    </div>
                </div>

                <table id="smartLoactionsTable">
                    <tr>
                        <td ng-repeat="locName in newBooking.SmartLoactions track by $index">{{ locName }} <span class="btn glyphicon glyphicon-remove" ng-click="RemoveSmartLoaction(locName)"></span></td>
                    </tr>
                </table>
            </div>
        </form>

        <p>
            <div class="alert alert-danger" id="searchFilterErrorCont" style="display: none;">
                <ul id="searchFilterErrorList"></ul>
            </div>
        </p>


        <hr />

        <div id="newSearchResults" style="display: none;">
            <h3 id="bookingTitle">
                Available Rooms in <span id="searchedLocation"></span> on <span id="searchedDate"></span>
                @*<input id="viewAllButton" type="button" class="form-control" ng-click="SearchBookings(true)" value="View All+" />*@
            </h3>

            <span id="errorMessage"></span>

            <div class="alert alert-info">Please use the meeting rooms responsibly. Only book rooms that are suitable for your meeting size.</div>

            <div id="bookingTable">

            </div>
        </div>
        @Html.Partial("Modals/NewBookingModal", null)

        @Html.Partial("Modals/ActiveDirectoryModal", null)
    </div>
</div>

@section scripts{
    <script src="~/Scripts/moment.js"></script>

    <script src="~/Scripts/FullCalandar/fullcalendar.min.js"></script>

    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/angular-resource.min.js"></script>

    <script src="~/Scripts/NewBooking/moduleManager.js"></script>
    <script src="~/Scripts/NewBooking/newBookingController.js"></script>
    <script src="~/Scripts/Shared Functions/bookingFunctions.js"></script>

    <script src="~/Scripts/BootStrapTimePicker/bootstrap-timepicker.js"></script>
    <script src="~/Scripts/BootStrapDatePicker/bootstrap-datepicker.js"></script>

    <script src="~/Scripts/jquery-uiBootstrap/jquery.bootstrap-touchspin.min.js"></script>


    <script>
        $(function () {
            $('.datepicker').datepicker({
                startDate: '-0m',
                format: 'dd-mm-yyyy',
                autoClose: true,
                todayBtn: true,
                todayBtn: 'linked',
                todayHighlight: true,
                weekStart: 1,
                daysOfWeekDisabled: [0, 6]
            });

            $('.datepicker').datepicker({
                startDate: '-0m',
                format: 'dd-mm-yyyy',
                autoClose: true,
                todayBtn: true,
                todayBtn: 'linked',
                todayHighlight: true,
                weekStart: 1,
                daysOfWeekDisabled: [0, 6]
            });

            $('.timepicker').timepicker({
                showInputs: false,
                minuteStep: 30,
                showMeridian: false
            });
        });

        function trim11(input) {
            str = str.replace(/^\s+/, '');
            for (var i = str.length - 1; i >= 0; i--) {
                if (/\S/.test(str.charAt(i))) {
                    str = str.substring(0, i + 1);
                    break;
                }
            }
            return str;
        }

        document.getElementById('bookingTable').addEventListener('mousewheel', function (e) {
            this.scrollLeft -= (e.wheelDelta);
            e.preventDefault();
        }, false);


        $(document).ready(function () {
            $('#searchFilter input').keydown(function (event) {
                if (event.keyCode == 32) {
                    event.preventDefault();
                }
            });

            $("#confirmModal input").on("blur", function () {
                $(this).val($(this).val().trim())
            });

        });

    </script>
}