
@{
    ViewBag.Title = "New Booking";
}
<div ng-app="newBooking">
    <div ng-controller="NewBookingController">
        <link href="~/Content/fullcalendar/fullcalendar.min.css" rel="stylesheet" />

        <h2>New Booking</h2>

        <select ng-options="location.name for location in locations" ng-model="currentLocation"></select>
        <select ng-options="room for room in currentLocation.rooms" ng-model="currentRoom"></select>

        <div id="calendar"></div>

        @section scripts{
            <script src="~/Scripts/moment.js"></script>

            <script src="~/Scripts/angular.min.js"></script>
            <script src="~/Scripts/angular-resource.min.js"></script>
            <script src="~/Scripts/NewBooking/moduleManager.js"></script>
            <script src="~/Scripts/NewBooking/newBookingController.js"></script>

            <script src="~/Scripts/FullCalandar/fullcalendar.min.js"></script>
            <script>
                $(function () {
                    $('#calendar').fullCalendar({
                        weekends: false,
                        header: {
                            left: 'prev,next today',
                            center: 'title',
                            right: 'month,agendaWeek,agendaDay'
                        },
                        events: [
                            {
                                title: 'Reece Bedding',
                                start: '2015-04-13T07:00:00',
                                end: '2015-04-13T10:30:00'
                            }
                        ]
                    });
                })
            </script>
        }
    </div>
</div>