@{
    ViewBag.Title = "New Booking";
}
<div ng-app="newBooking">
    <div id="controllerDiv" ng-controller="NewBookingController">
        <link href="~/Content/fullcalendar/fullcalendar.min.css" rel="stylesheet" />

        <h2>New Booking</h2>
        <div class="form-inline">
            <div class="form-group">
                <span class="glyphicon glyphicon-filter btn-lg"></span>
                <div class="input-group">
                    <label class="col-sm-2 control-label">Location</label>
                    <select class="form-control" ng-options="location.name for location in locations" ng-model="currentLocation"></select>
                </div>
                <div class="input-group">
                    <label class="col-sm-2 control-label">Room</label>
                    <select class="form-control" ng-options="room for room in currentLocation.rooms" ng-model="currentRoom"></select>
                </div>
            </div>
            <hr/>
            <div class="form-group" id="calendarContainer">
                <div id="calendar"></div>
            </div>
        </div>
        @section scripts{
            <script src="~/Scripts/moment.js"></script>

            <script src="~/Scripts/angular.min.js"></script>
            <script src="~/Scripts/angular-resource.min.js"></script>
            <script src="~/Scripts/NewBooking/moduleManager.js"></script>
            <script src="~/Scripts/NewBooking/newBookingController.js"></script>

            <script src="~/Scripts/FullCalandar/fullcalendar.min.js"></script>
        }
    </div>
</div>