@{
    ViewBag.Title = "My Bookings";
}

<div ng-app="myBookings">
    <div id="myBookingsControllerDiv" ng-controller="MyBookingsController">

        <link href="~/Content/BootStrapTimePicker/bootstrap-timepicker.css" rel="stylesheet" />
        <link href="~/Content/BootStrapDatePicker/datepicker.css" rel="stylesheet" />
        <link href="~/Content/jquery-uiBootstrap/jquery.bootstrap-touchspin.min.css" rel="stylesheet" />

        <h1 class="heading-medium">
            My Bookings
        </h1>

        <form role="form" id="searchFilter">
            <div class="form-inline" row>
                <div class="form-group">
                    <div class="input-group col-xs-4" id="searchLocation">
                        <label class="control-label">Location</label>
                        <select class="form-control" ng-options="location.name for location in locations" ng-model="bookingFilter.location" ng-change="">
                            <option value="" selected disabled>Select a location...</option>
                        </select>
                    </div>
                    <div class="input-group col-xs-3" id="room">
                        <label class="control-label">Room</label>
                        <input id="room" class="form-control" ng-model="bookingFilter.room" />
                    </div>
                    <div class="input-group col-xs-3" id="date">
                        <label class="control-label">Date</label>
                        <input id="startDatePicker" class="form-control datepicker" ng-model="bookingFilter.startDate" />
                    </div>
                    <div class="input-group col-xs-3" id="smart">
                        <label class="control-label">Smart Room</label>
                        <div class="divider"></div>
                        <input id="smartRoomCheckBox" type="checkbox" class="form-control" ng-model="bookingFilter.smartRoom" ng-change="ShowSmartLoactions()" />
                    </div>
                    <div class="input-group col-xs-2" id="search">
                        <label class="control-label">&nbsp;</label>
                        <input id="searchButton" type="button" class="button button-start" ng-click="SearchBookings()" value="Filter" />
                    </div>
                </div>
            </div>
        </form>

        <div id="myBookingsTable">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>&nbsp;</th>
                        <th>&nbsp;</th>
                        <th><a href="#" ng-click="orderByField='location'; reverseSort = !reverseSort">Location<span ng-show="orderByField == 'location'"><span ng-show="!reverseSort"> <span class="glyphicon glyphicon-circle-arrow-up"></span></span><span ng-show="reverseSort"> <span class="glyphicon glyphicon-circle-arrow-down"></span></span></a></th>
                        <th><a href="#" ng-click="orderByField='room'; reverseSort = !reverseSort">Room<span ng-show="orderByField == 'room'"><span ng-show="!reverseSort"> <span class="glyphicon glyphicon-circle-arrow-up"></span></span><span ng-show="reverseSort"> <span class="glyphicon glyphicon-circle-arrow-down"></span></span></a></th>
                        <th><a href="#" ng-click="orderByField='date'; reverseSort = !reverseSort">Date<span ng-show="orderByField == 'date'"><span ng-show="!reverseSort"> <span class="glyphicon glyphicon-circle-arrow-up"></span></span><span ng-show="reverseSort"> <span class="glyphicon glyphicon-circle-arrow-down"></span></span></a></th>
                        <th><a href="#" ng-click="orderByField='startTime'; reverseSort = !reverseSort">Time<span ng-show="orderByField == 'startTime'"><span ng-show="!reverseSort"> <span class="glyphicon glyphicon-circle-arrow-up"></span></span><span ng-show="reverseSort"> <span class="glyphicon glyphicon-circle-arrow-down"></span></span></a></th>
                        <th><a href="#" ng-click="orderByField='subject'; reverseSort = !reverseSort">Subject<span ng-show="orderByField == 'subject'"><span ng-show="!reverseSort"> <span class="glyphicon glyphicon-circle-arrow-up"></span></span><span ng-show="reverseSort"> <span class="glyphicon glyphicon-circle-arrow-down"></span></span></a></th>                        
                        <th>&nbsp;</th>
                    </tr>
                </thead>
                <tbody ng-cloak>
                    <tr ng-repeat="booking in bookings|filterMyBookings:orderByField:reverseSort" class="MyBookingsBookingRow">
                        <td ng-if="booking.isSmartMeeting"><span class="glyphicon glyphicon-facetime-video" title="Is part of a smart booking"></span></td>
                        <td ng-if="!booking.isSmartMeeting">&nbsp;</td>
                        <td ng-if="booking.recurrenceId != null"><span class="glyphicon glyphicon-refresh" title="Is part of a recurrence"></span></td>
                        <td ng-if="!(booking.recurrenceId != null)">&nbsp;</td>
                        <td>{{ booking.location.name}}</td>
                        <td>{{ booking.roomNameFormatted() }}</td>
                        <td>{{ booking.DateFormatted() }}</td>
                        <td>{{ booking.startTimeFormatted() }} - {{ booking.endTimeFormatted() }}</td>
                        <td id="subjectInfo" data-toggle="tooltip" data-placement="bottom" title="{{ booking.subject }}">{{ booking.subject }}</td>
                        <td>
                            <button data-toggle="modal" data-target="#editModal" ng-click="LoadEditBooking(booking.id)" class="button button--table">Edit</button>
                            <button data-toggle="modal" data-target="#deleteModal" ng-click="SetBookingId(booking.id)" class="button button-alert">Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        @Html.Partial("Modals/EditBookingModal", null)

        <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Confirm Deletion</h4>
                    </div>
                    <div class="modal-body">
                        <p>Are you sure you want to delete this meeting?</p>
                        <h3 ng-show="currentBookingToModify.recurrenceId">Delete all bookings in this recurrence <input type="checkbox" ng-model="modifyBookingOptions.deleteAllInRecurrence" /></h3>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="button button-secondary" data-dismiss="modal">Cancel</button>
                        <button id="deleteBookingConfirmButton" type="button" class="button" ng-click="DeleteBooking()">Delete Booking</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section scripts{
    <script src="~/Scripts/moment.js"></script>
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/angular-resource.min.js"></script>

    <script src="~/Scripts/MyBookings/moduleManager.js"></script>
    <script src="~/Scripts/MyBookings/myBookingsController.js"></script>
    <script src="~/Scripts/Shared Functions/bookingFunctions.js"></script>

    <script src="~/Scripts/BootStrapTimePicker/bootstrap-timepicker.min.js"></script>
    <script src="~/Scripts/BootStrapDatePicker/bootstrap-datepicker.js"></script>

    <script src="~/Scripts/jquery-uiBootstrap/jquery.bootstrap-touchspin.min.js"></script>

    <script>
        $(function () {
            $('.datepicker').datepicker({
                startDate: '-0m',
                endDate: '+12m',
                format: 'dd-mm-yyyy',
                autoclose: true,
                todayBtn: true,
                todayBtn: 'linked',
                todayHighlight: true,
                weekStart: 1,
                daysOfWeekDisabled: [0, 6]
            });

            $('.timepicker').timepicker({
                showInputs: false,
                minuteStep: 30,
                showMeridian: false,
            });
        });
    </script>
}

