@{
    ViewBag.Title = "My Bookings";
}
<div ng-app="myBookings">
    <div id="controllerDiv" ng-controller="MyBookingsController">

        <h2>My Bookings</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Location</th>
                    <th>Room</th>
                    <th>Start</th>
                    <th>End</th>
                    <th></th>
                </tr>
            </thead>
            <tr ng-repeat="booking in bookings">                
                <td>{{ booking.location.name}}</td>
                <td>{{ booking.room.roomName }}</td>
                <td>{{ booking.startDateFormatted() }}</td>
                <td>{{ booking.endDateFormatted() }}</td>
                <td><span class="btn glyphicon glyphicon-edit"></span></td>
                <td><span class="btn glyphicon glyphicon-remove"></span></td>
            </tr>
        </table>

    </div>
</div>

@section scripts{
    <script src="~/Scripts/moment.js"></script>

    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/angular-resource.min.js"></script>

    <script src="~/Scripts/MyBookings/moduleManager.js"></script>
    <script src="~/Scripts/MyBookings/myBookingsController.js"></script>

}