@{
    ViewBag.Title = "My Bookings";
}

<div ng-app="myBookings">
    <div id="controllerDiv" ng-controller="MyBookingsController">

        <link href="~/Content/BootStrapTimePicker/bootstrap-timepicker.css" rel="stylesheet" />
        <link href="~/Content/BootStrapDatePicker/datepicker.css" rel="stylesheet" />
        <link href="~/Content/Site.css" rel="stylesheet" />

        <h2>My Bookings</h2>
        <div id="myBookingsTable">
            <table class="table table-striped userInfoTable">
                <thead>
                    <tr>
                        <th>Location</th>
                        <th>Room</th>
                        <th>Date</th>
                        <th>Time</th>
                        <th>Subject</th>
                        <th>&nbsp;</th>
                        <th>&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="booking in bookings">
                        <td>{{ booking.location.name}}</td>
                        <td>{{ booking.roomNameFormatted() }}</td>
                        <td>{{ booking.DateFormatted() }}</td>
                        <td>{{ booking.startTimeFormatted() }} - {{ booking.endTimeFormatted() }}</td>
                        <td id="subjectInfo" data-toggle="tooltip" data-placement="bottom" title="{{ booking.subject }}">{{ booking.subject }}</td>
                        <td><span data-toggle="modal" data-target="#editModal" ng-click="LoadEditBooking(booking.id)" class="btn glyphicon glyphicon-edit"></span></td>
                        <td><span data-toggle="modal" data-target="#deleteModal" ng-click="SetBookingId(booking.id)" class="btn glyphicon glyphicon-trash"></span></td>
                    </tr>
                </tbody>
            </table>
        </div>

        @Html.Partial("Modals/EditBookingModal", null)

        <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Confirm Deletion</h4>
                    </div>
                    <div class="modal-body">
                        <p>Are you sure you want to delete this meeting?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button id="deleteBookingConfirmButton" type="button" class="btn btn-primary" ng-click="DeleteBooking()">Delete</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section scripts{
    <script src="~/Scripts/moment.js"></script>
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/angular-resource.min.js"></script>

    <script src="~/Scripts/MyBookings/moduleManager.js"></script>
    <script src="~/Scripts/MyBookings/myBookingsController.js"></script>
    <script src="~/Scripts/Shared Functions/bookingFunctions.js"></script>

    <script src="~/Scripts/BootStrapTimePicker/bootstrap-timepicker.min.js"></script>
    <script src="~/Scripts/BootStrapDatePicker/bootstrap-datepicker.js"></script>

    <script src="~/Scripts/jquery-uiBootstrap/jquery.bootstrap-touchspin.min.js"></script>

    <script>
        $(function () {
            $('.datepicker').datepicker({
                startDate: '-0m',
                format: 'dd-mm-yyyy',
                autoclose: true,
                todayBtn: true,
                todayBtn: 'linked',
                todayHighlight: true,
                weekStart: 1,
                daysOfWeekDisabled: [0, 6]
            });

            $('.timepicker').timepicker({
                showInputs: false,
                minuteStep: 30,
                showMeridian: false,
            });
        });
    </script>
}

